* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --maincolor: crimson;
    --secondrycolor: maroon;
    --sidewidth: 200px;
}

body {
    background-color: teal;
    overflow: hidden;
}

header {
    background-color: var(--secondrycolor);
    width: inherit;
    height: 56px;
    position: relative;
}

header img {
    --lw: 106px;
    width: var(--lw);
    height: var(--lw);
    border-radius: 50%;
    margin: 6px 0 0 4px;
    z-index: 123;
    border: 4px solid var(--maincolor);
    cursor: pointer;
}

.buttons {
    position: absolute;
    top: calc(33px / 2);
    right: 30px;
    height: 23px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    flex-direction: row;
}

button {
    height: 23px;
    background-color: var(--maincolor);
    border: 2px solid var(--maincolor);
    width: 90px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: teal;
}

button a {
    color: black;
    font-family: revert;
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
}

button:hover a {
    color: white;
}

.mp {
    background-color: var(--maincolor);
    width: var(--sidewidth);
    height: 125px;
    position: relative;
    z-index: -2;
    border-bottom: 2px solid black;
}

svg {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.mp h1 {
    position: absolute;
    font-size: 30px;
    font-family: fantasy;
    font-weight: 500;
    top: 58px;
    left: 11px;
    margin: 0;
}

.mp p {
    display: inline-block;
    position: absolute;
    top: 95px;
    left: 5px;
    font-size: 22px;
    font-weight: 900;
}

aside {
    width: var(--sidewidth);
    height: 276px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--maincolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside div {
    display: inline-block;
    width: var(--sidewidth);
    height: calc(100%/ 9);
    text-align: left;
    text-indent: 16px;
    border-bottom: 2px solid var(--secondrycolor);
}

aside div:hover a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

aside div:hover {
    background-color: teal;
    border-right: 1px solid var(--secondrycolor);
    cursor: pointer;
}

aside div a {
    transition-duration: 0.1s;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

aside a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.l1 {
    background-color: teal;
}

.l1 a {
    color: white;
}

section {
    position: relative;
    left: 270px;
    bottom: 355px;
    width: 665px;
}

section h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

hr {
    background-color: cadetblue;
}

section .ps {
    position: absolute;
    top: 65px;
}

section .ps p {
    margin: 0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}